.calendar {
    border: 2px solid;
    width: 100%
}
.calbody {
    width: 100%;
}

.theader {
    border: 1px solid black;
    background-color:aqua
}

table, th, td {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}